.Back_Img{
width: 928px;
height: 629px;
transform: translateX(-64px) scale(2);
background-size: cover;
background-position: center;
background-repeat: no-repeat;
position: absolute;
top: 105px;
transition: width  0.2s cubic-bezier(0.28, 0.11, 0.32, 1) 0s;

}


.Back_Img.Active{
    width: 673px;
    height: 420px;
    position: absolute;
    top: 34%;
    transform: unset;
    transition: all  0.1s cubic-bezier(0.28, 0.11, 0.32, 1) 0s;
}

@media only  screen and (max-width: 800px){
    .Back_Img.Active{
        width: 347px;
        height: 419px;
        background-size: contain;
        z-index: 500;
        top: 177px;
        transform: translateX(-64px) scale(1);
    }
}

