.App {
  text-align: center;
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(./picture/nature.jpg);
  background-position: center;
  background-size: cover;
  height: 35rem;
  width: 22rem;
  margin: 0 auto;
  color: white;
}

.input-conatiner{
  padding: 15px;
  display: flex;
  flex-direction: column;
}

input{
  outline: none;
}
.btn{
  padding: 5px;
  background: green;
  outline: none;
  color: white;
  border: none;
}